@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{
  .primary-btn{
    @apply bg-black text-white px-4 py-2 rounded-lg shadow-sm hover:shadow-md;
  }
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Rubik', sans-serif;
}
/* styles.css */
::selection {
  background-color: #880094; /* Custom selection background color */
  color: #ffffff; /* Custom selection text color */
}


